@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito+Sans:wght@200..1000&family=Jomolhari&display=swap');
@import "tailwindcss";

/* Import Google Fonts */

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-nebulas: "Nebulas", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
  /* --font-jomolhari: "Jomolhari"; */
  --font-jomolhari: "Jomolhari", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-display: var(--font-nebulas);
  --font-alt: var(--font-nunito);
  --font-serif: var(--font-jomolhari);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}